* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
    background-color: #FFBCE2;
}

.container{
    display: grid;
    grid-template: auto auto auto / auto auto auto;
}

.elem-header{
    background-color: #ED2424;
    grid-column-start: 1;
    grid-column-end:  4;
    display: flex;
}

.menu-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    max-width: 50px;
    padding: 10px;
}
.menu-item img{
    width: 100%;
}

/* ----------------------------------------------- */
.elem-main{
    background-color: green;
    grid-column-start: 1;
    grid-column-end:  4;
}

.elem-footer{
    background-color: black;
    grid-column-start: 1;
    grid-column-end:  4;
}


@media screen and (max-width: 500px) {

}